dist*
static/tmp/
static/combined/
config/client_session_key.aes
base-associations/source
*.hi
*.o
*.db
*.db-shm
*.db-wal
.hsenv*
cabal-dev/
.stack-work/
.stack-work-devel/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
*.keter
*~
\#*
associations.cabal
.dir-locals.el
associations.db.gz
